<h1>Pending Enrollments</h1>

<div id="enrollments">
  <% @enrollments.where(approval: false).each do |enrollment| %>
    <%= render enrollment %>
    <p>
      <%= link_to "Approve enrollment", edit_enrollment_path(enrollment) %> |
      <%= button_to "Deny enrollment", enrollment_path(enrollment), method: :delete %>
    </p>
    <hr>
  <% end %>
</div>