<p style="color: green"><%= notice %></p>

<h1>School admins</h1>

<div id="school_admins">
  <% @school_admins.each do |school_admin| %>
    <%= render school_admin %>
    <p>
      <%= link_to "Show this school admin", school_school_admin_path(school_admin.school, school_admin) %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New school admin", new_school_school_admin_path %>
