<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= school.description %>
  </p>

  <p>
    <strong>Established at:</strong>
    <%= school.established_at %>
  </p>

</div>
