<div id="<%= dom_id course %>">
  <img src="https://b2227390.smushcdn.com/2227390/wp-content/themes/alexander/assets/img/headers/header-course-delivery.jpg?lossy=1&strip=1&webp=1" class="img-fluid rounded mx-auto d-block" alt="...">
  <h1>
    <%= course.title %>
  </h1>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>School:</strong>
    <%= course.school_id %>
  </p>

</div>
