<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", school_course_path(course.school_id, course) %>
    </p>
  <% end %>
</div>

<%= link_to "New course", new_school_course_path %>
