<h1>Editing batch</h1>

<%= render "form", batch: @batch %>

<br>

<div>
  <%= link_to "Show this batch", school_course_batch_path(@batch.course.school, @batch.course, @batch) %> |
  <%= link_to "Back to batches", school_course_path(@batch.course.school, @batch.course) %>
</div>
